:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e2e8f0; /* Light gray for body text */
  background-color: var(--background-color);
  --background-color: hsl(240, 10%, 3.9%); /* Default dark color */

  --text-light: #e2e8f0;
  --text-lighter: #94a3b8;
  --heading-color: #ffffff;
  --accent-blue: #3b82f6;
  --accent-blue-dark: #1e3a8a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f2f2f2;
  }
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  margin: 0.5em 0;
  font-weight: 600;
}

/* Paragraphs and body text */
p, span, li, small, label {
  color: var(--text-light);
}

/* Optional: fine-tuned color for even smaller text */
small {
  color: var(--text-lighter);
}

/* Accent elements */
a {
  font-weight: 500;
  color: var(--accent-blue);
  text-decoration: none;
}
a:hover {
  color: var(--accent-blue-dark);
}

